#dash-wrapper {
    padding-top: 2%;
}

#dash-card {
    width: 75%;
}

.search-container {
    width: 75%;
}

.dash-button > span {
    position: absolute;
    right: 25px;
    font-size: 18pt;
}

.users-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    background-color: #fff;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 20px;
    width: 20%;
    margin: 20px;
    text-align: center;
}

.user-info > p, .user-info > h2 {
    margin: 0;
}

.user-button {
    margin-bottom: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.modal > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    padding-right: 45px;
    box-shadow: 0px 5px 10px var(--shadow);
    background-color: var(--background1);
    margin-bottom: 10px;
}

.modal > select {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    padding-right: 45px;
    box-shadow: 0px 5px 10px var(--shadow);
    background-color: var(--background1);
    margin-bottom: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}


@media only screen and (max-width: 950px) {
    .user-card {
        width: 85%;
    }

    .search-container {
        width: 100%;
    }

    #dash-card {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .user-card {
        width: 90%;
    }

    .search-container {
        width: 100%;
    }

    #dash-card {
        width: 95%;
    }

    #dash-wrapper {
        padding-top: 40px;
    }
}