@font-face {
    font-family: 'Mazzard';
    src: url('../assets/fonts/mazzard-h-regular.otf');
    font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Mazzard', sans-serif;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}