:root {
    --gradient: linear-gradient(90deg,#bed3dc 0%,#cad9d4 100%);
    --color1: #414141;
    --shadow: rgba(0, 0, 0, 0.1);
    --background1: #f7f7f7;
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #fff;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 20px;
    width: 25%;
}

.login-card > h1 {
    color: var(--color1);
    font-size: 44px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.login-card > h5 {
    color: var(--color1);
    font-size: 18px;
    font-weight: 200;
}

.login-card > form {
    width: 100%;
}

.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 5px 15px var(--shadow);
    background-color: var(--background1);
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    font-weight: 550;
    font-size: 12.5pt;
}

form > button {
    width: 100%;
    padding: 10px 25px;
    box-shadow: 0px 12.5px 15px var(--shadow);
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 550;
    font-size: 16pt;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.7s;
    background-color: var(--color1);
}