.login-wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #fff;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 20px;
    width: 25%;
}

.login-card > h1 {
    color: var(--color1);
    font-size: 44px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.login-card > h5 {
    color: var(--color1);
    font-size: 18px;
    font-weight: 200;
}

.login-card > form {
    width: 100%;
    margin: 15px;
}

h5 > a {
    font-weight: 400;
}

.google {
    text-transform: capitalize;
    color: var(--color1);
    background-color: var(--background1);
}

@media only screen and (max-width: 950px) {
    .login-card {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .login-card {
        width: 90%;
    }
}