.recovery-wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recovery-card {
    background-color: #fff;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 20px;
    width: 25%;
}

.recovery-card > h1 {
    color: var(--color1);
    font-size: 44px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.recovery-card > form {
    width: 100%;
    margin: 15px;
}

#return {
    margin-bottom: 0;
}

@media only screen and (max-width: 950px) {
    .recovery-card {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .recovery-card {
        width: 90%;
    }
}