body {
    overflow-y: hidden;
}

.check-field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.check-field > input {
    display: none;
}

.check-field > span {
    width: 18px;
    height: 18px;
    border: 2px solid #2563eb;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
}

.check-field > span::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    left: 5px;
    top: 1px;
    transition: transform 0.2s ease;
}

.check-field > input:checked + span {
    background-color: #2563eb;
    border-color: #2563eb;
    transform: scale(1.05);
}

.check-field> input:checked + span::after {
    transform: rotate(45deg) scale(1);
}