.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0px;
    position: relative;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    padding-right: 45px;
    box-shadow: 0px 5px 15px var(--shadow);
    background-color: var(--background1);
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    font-weight: 550;
    font-size: 12.5pt;
}

.text-field > label {
    margin-bottom: 10px;
}

.eye {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: var(--color1);
    font-size: 14pt;
}